<!-- Main Container Start -->
<div class="main-container">

    <!-- Top Bar Starts -->
    <div class="top-bar clearfix">
        <div class="page-title">
            <h4><div class="fs1" aria-hidden="true" data-icon="&#xe007;"></div>Agendamento</h4>
        </div>
        
    </div>
    <!-- Top Bar Ends -->

    <!-- Container fluid Starts -->
    <div class="container-fluid">

        <!-- Spacer starts -->
        <div class="spacer-xs">
            
            <h1>Agendamento</h1>

        </div>
        <!-- Spacer ends -->

    </div>
    <!-- Container fluid ends -->